<!DOCTYPE html>
<html>
    <head>
        <html lang="en">
        <meta charset="utf-8">
        <title>Index</title>
        <link type=text/css rel="stylesheet" href="../static/styles/style1.css">
    </head>
    <body>
        <font color = "#fffaf0"><p><h1>Nishant Timilsina</h1></p></font>
        <img src="{{url_for('static', filename='../static/images/image_guitar.jpg')}}" alt="Man with the guitar" width="340" height="280"/>
        <h1>Skills</h1>
        <ul>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>C++</li>
        </ul>
        <h1>Hobbies</h1>
        <ol>
            <li>Cycling</li>
            <li>Filming</li>
            <li>Mountaineering</li>
        </ol>
        <h1>Experience</h1>
        <table border="2">
            <tr>
                <td>Python</td>
                <td>HTML</td>
                <td>Css</td>
                <td>C++</td>
            </tr>
            <tr>
                <td>Intermediate</td>
                <td>Rookie</td>
                <td>Barely</td>
                <td>Intermediate</td>
            </tr>
        </table>
    </body>
</html>