<!DOCTYPE html>
<html>
    <head>
        <html lang="en">
        <meta charset="utf-8">
        <title>Index</title>
        <link type=text/css rel="stylesheet" href="../static/styles/style1.css">
    </head>
    <body>
        <font color = "#fffaf0"><p><h1>Nishant Timilsina</h1></p></font>
        <img src="{{url_for('static', filename='../static/images/image_guitar.jpg')}}" alt="Man with the guitar" width="560" height="315"/>
        <h1>Skills</h1>
        <ul>
            <li><font color = "#dc143c"><strong>About Me</strong></font></li>
            <p>I am a seasoned systems administrator experienced with developing system applications.<br> I enjoy building distributed, reliable and automated applications</p>
            <li><font color = "#dc143c"><strong>Python</strong></font></li>
            <p> I use python for most of my automation tasks unless some other language will get the job done sooner and better then Python</p>
            <li><font color = "#dc143c"><strong>HTML</strong></font></li>
            <p> I have used HTML to create status pages where I can post updates of my automation jobs</p>
            <li><font color = "#dc143c"><strong>CSS</strong></font></li>
            <p> I use CSS to style my HTML pages</p>
            <li><font color = "#dc143c"><strong>C++</strong></font></li>
            <p> For any system level applications, my goto programming language other than python is C++</p>
        </ul>
        <h1>Hobbies</h1>
        <ol>
            <li><font color = "#dc143c">Cycling</font></li>
            <p>I do both mountain biking and road cycling. I ride a full carbon Bianchi Coast to Coast bike when I road biking. <br> And I love riding Specialized stumpjumber FSR full suspension full carbon trail bike.</p>
            <li><font color = "#dc143c">Filming</font></li>
            <p>Filming is my hobby that I have recently developed. I am working on a movie currently. You can watch a sample of my previous work below:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cV4lu-8-Fd4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <li><font color = "#dc143c">Mountaineering</font></li>
            <p>I enjoy mountaineering. So far I have climbed upto 5145 meters (approx. 16,880 feet)</p>
        </ol>
        <h1>Programming Experience metric (1 = beginner, 10 = expert):</h1>
        <table border="2">
            <tr>
                <td><font color = "#dc143c">Python</font></td>
                <td><font color = "#dc143c">HTML</font></td>
                <td><font color = "#dc143c">Css</font></td>
                <td><font color = "#dc143c">C++</font></td>
                <td><font color = "#dc143c">Java</font></td>
                <td><font color = "#dc143c">Perl6</font></td>
            </tr>
            <tr>
                <td>6</td>
                <td>3</td>
                <td>2</td>
                <td>7</td>
                <td>2</td>
                <td>2</td>
            </tr>
        </table>
    </body>
</html>